<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:p="http://www.springframework.org/schema/p" xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:mongo="http://www.springframework.org/schema/data/mongo"
        xsi:schemaLocation="http://www.springframework.org/schema/beans 
                                                http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                                                http://www.springframework.org/schema/context 
                                                http://www.springframework.org/schema/context/spring-context-4.0.xsd
                                                http://www.springframework.org/schema/aop 
                                                http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                                                http://www.springframework.org/schema/tx 
                                                http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                                                http://www.springframework.org/schema/jee 
                                                http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
                                                http://www.springframework.org/schema/data/mongo 
                                                http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
    ">	
    <tx:annotation-driven />
	<context:annotation-config/>  
	<context:component-scan base-package="com.vical.dao.nosql" />
	
	<!-- MongoDB -->	
	<mongo:db-factory id="mongoDbFactory" dbname="${mongo.dbname}" host="${mongo.host}"  port="${mongo.port}" />
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
		<property name="writeConcern" value="SAFE" />
	</bean>
</beans>